<div *ngIf="show" class="float-card">
    <div class="float-card-title">
        <span>Cart</span>
    </div>
    <div class="float-card-content">

        <div *ngIf="quantity == 0" class="empty-container">
         <span  class="empty">Your cart is empty</span>
        </div>
        <div *ngIf="quantity > 0" class="grid-checkout">
            <img class="product-img" src="assets/images/image-product-1.jpg">
            <span class="product-name">Fall Limited Edition Sneakers</span>
            <span class="product-price">${{unityPrice}} x {{quantity}} <span class="total-price">${{unityPrice * quantity}}</span>  </span>
            <img (click)="clear()" class="product-delete" src="assets/images/icon-delete.svg">
            
        </div>
        <button *ngIf="quantity > 0" class="primary-button">Checkout</button>

    </div>
    <div>
        
    </div>
</div>
