<header>
    <div class="menu-container">
        
        <div class="menu">
            <img src="assets/images/icon-menu.svg" (click)="sideMenu = true">
            
            <side-menu [(open)]="sideMenu"></side-menu>
        </div>
        <div>
            <img src="assets/images/logo.svg">
        </div>
        <div>
            <ul class="menu-item">
            <li class="menu-item-link">Collections</li>
            <li class="menu-item-link">Men</li>
            <li class="menu-item-link">Women</li>
            <li class="menu-item-link">About</li>
            <li class="menu-item-link">Contact</li>
        </ul>
        </div>
    </div>
    <div class="flex-container">
        <checkout-card [show]="checkoutShow"></checkout-card>
        <button class="outline cart-button" (click)="checkoutShow = !checkoutShow;">
            <div *ngIf="quantity" class="badge"><span>{{quantity}}</span></div>
            <img src="assets/images/icon-cart.svg" alt="Carrinho">
        </button>
        <img src="assets/images/image-avatar.png" alt="Avatar" class="avatar-image">
    </div>
  
</header>
