<div class="product-container">
    <div class="product-images">
        <div class="focused-image">
            <img src="assets/images/image-product-1.jpg">
        </div>

        <div class="thumbnail-images">
            <input type="radio" id="image1" name="image-selected" value="1">
            <label for="image1"><img src="assets/images/image-product-1-thumbnail.jpg"></label>
           
            <input type="radio" id="image2" name="image-selected" value="2">
            <label for="image2"><img src="assets/images/image-product-2-thumbnail.jpg"></label>
           
            <input type="radio" id="image3" name="image-selected" value="3">
            <label for="image3"><img src="assets/images/image-product-3-thumbnail.jpg"></label>
           
            <input type="radio" id="image4" name="image-selected" value="4">
            <label for="image4"><img src="assets/images/image-product-4-thumbnail.jpg"></label>
           

        </div>
    </div>
    <div class="product-info">
        <div>
            <h4 class="product-info-company-name">
                SNEAKER COMPANY
            </h4>
            <h1 class="product-info-line-name">Fall Limited Edition Sneakers</h1>
            <p class="product-info-description">
                These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.
            </p>
            <h2 class="product-info-price">$125.00 <span class="product-info-discunt">50%</span></h2>
            <h3 class="product-info-old-price">$250.00</h3>
            <div class="product-info-quantity">
                <button class="outline minus">
                    <span class="icons"><img src="assets/images/icon-minus.svg" alt="minus"></span>
                </button>
                <span class="center-text">0</span>
                <button class="outline plus">
                    <span class="icons"><img src="assets/images/icon-plus.svg" alt="plus"></span>
                </button>

            </div>
            <button class="primary-button"> 
                <icon-cart></icon-cart> <span>Add to cart </span></button>
        </div>
       
    </div>
</div>
