
<div *ngIf="open" class="side-menu-container">
    <div class="menu">
        <button class="outline close-button" (click)="close()">
            <img src="assets/images/icon-close.svg">
        </button>
        <ul class="side-menu-item">
           
            <li class="menu-item-link">Collections</li>
            <li class="menu-item-link">Men</li>
            <li class="menu-item-link">Women</li>
            <li class="menu-item-link">About</li>
            <li class="menu-item-link">Contact</li>
        </ul>
    </div>
        
</div>
